/* Default mode: light */
:root {

    --text-primary-generic: #ffffff;
    --text-secondary-generic: #002e3d;

    --bg-primary-generic: #002e3d;
    --bg-secondary-generic: #ffffff;
    

    --btn-text-primary-generic: #ffffff;
    --btn-text-secondary-generic: #002e3d;

    --btn-bg-primary-generic: #002e3d;
    --btn-bg-secondary-generic: #ffffff;


}